.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    align-items: center
  }
  
  .modal{
    width: min(90%, 25rem);
    padding: 4rem 1.2rem;
    background: #fff;
    border-radius: 0.625rem;

  }
  
  .modal p{
    color: #444;
    font-weight: bold;
    text-align: center;
  }
  
  .modal button{
    color: var(--color-light-error);
    background: var(--color-error);
    border-color: var(--color-light-error);
    font-weight: bold;
    padding:1rem 2rem;
    border-radius: 0.4rem;
  }