.profile{
    display: flex;
    width: min(100%, 40rem);
    align-items: stretch;
    padding: 0.4em 0;
    justify-content: space-between;
    flex-direction: column;
    border-top: 1px solid var(--color-lightgrey);
    padding-top: 1em;
    flex-wrap: wrap;
    position: relative;
}

.profile:nth-of-type(6n + 1) h3{
    color: #d76b05;
}

.profile:nth-of-type(6n + 2) h3{
    color: #da6d73;
}

.profile:nth-of-type(6n + 3) h3{
    color: #b88b0b;
}
.profile:nth-of-type(6n + 4) h3{
    color: #006400;
}

.profile:nth-of-type(6n + 5) h3{
    color: #8b0000;
}

.profile:nth-of-type(6n + 6) h3{
    color: #a52a2a;
}


.col1{
    display: flex;
    align-items: stretch;
    margin-bottom: 1em;
}

.col1 img,
.col1 h3,
.col1 h4{
    cursor:pointer;
}

.col1_img{
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.2em;
    
}

.col1_img img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
}


.col1_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4em 0;
    flex: 1;
    /* height: 4rem; */
}

.col1_text h3{
    font-size: 0.8rem; 
    line-height: 0.9rem; 
    font-weight: 600;
}

.col1_text h4{
    color: var(--color-greyblue);
    font-size: 0.74rem;
    font-weight: 400;
    line-height: 0.85rem;
}

.col2{
    align-items: center;
}

.role_button_container{
    display: flex;
    flex-direction: column;
    grid-column: 1/13;
    grid-row: 1;
    margin-bottom: 1em;
}

.role_button{
    width: 4rem;
    border-radius: 2rem;
    font-size: 0.4rem;
    padding: 0.6em 0.1em;
    background: transparent;
    outline: none;
    cursor: pointer;
    /* align-self: flex-start; */
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.menu{
    display: flex;
    flex-direction: column;
    grid-column: 1/13;
    grid-row: 1;
    align-self: end;
    justify-self: end;
}

.admin_role{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.3rem
}

.admin_role_text{
    font-size: 0.5rem
}


@media screen and (min-width: 300px){
    .profile{
        flex-direction: row;
    }
    .col1{
        flex: 4;
        margin-bottom: 0em;
    }.col2{
        flex: 1;
        margin-bottom: 0em;
    }
    .col1_img{
        width: 4rem;
        height: 4rem;
        margin-right: 0.4em;
    }

    .col1_text h3{
        font-size: 0.9rem; 
        line-height: 1rem; 
        font-weight: 600;
    }

    .col1_text h4{
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 0.95rem;
    }
    
    .role_button{
        width: 5.3rem;
        font-size: 0.54rem;
        padding: 0.7em 0.2em;
    }

    .btn_top_text{
        width: 2.1rem;
        font-size: 0.5rem
    }
}

@media screen and (min-width: 450px){
    .col1_img img{
        width: 3.8rem;
        height: 3.8rem;
    }
}