/* ============================== */
/* input */
/* ============================== */



.cqzVac ,
.dqLANY{
  width: 100%!important;
  background: transparent !important;
  border-bottom: 0.1px solid var(--color-softblue) !important;
  border-left: none!important;
  border-top: none!important;
  border-right: none!important;
  font-size: 1rem!important;
  margin-top: 0.1em!important;
  padding-left: .5em!important;
  padding-right: .5em!important;
  padding-top: .5em!important;
  padding-bottom: .5em!important;
  border-radius: 0px !important;
}


.cqzVac:active,
.cqzVac:focus,
.cqzVac:focus-visible,
.dqLANY:active,
.dqLANY:focus,
.dqLANY:focus-visible{
  outline: none!important;
  border-bottom: 0.1px solid var(--color-softblue)!important;
  border-left: none!important;
  border-top: none!important;
  border-right: none!important;
  box-shadow: none!important;
}

.cqzVac:disabled,
.dqLANY:disabled{
  border: none!important;
  outline: none!important;
  outline: 0px!important;
  background: #F0F0F0!important;

}

@media (min-width: 200px){
  .gJrIQH {
    width: min(80%, 35rem) !important;
    margin: 0 auto !important;
  }
}