.layout{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header{
    grid-column: span 12;
    grid-row: 1;
    margin-top: 1em;
}

.main{
    grid-column: span 12;
    grid-row: 2;
}

.back{
    grid-column: span 12;
    grid-row: 3;
}

.footer{
    grid-column: span 12;
    grid-row: 4;
    align-self: end;
}

