.dashboard_main{
  width: 100%;
  padding-top: 3rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (min-width: 400px){
  .dashboard_main{
    padding-left: 1rem;
    padding-right: 1rem;
    width: min(100%, 40rem);
  }
}

@media screen and (min-width: 850px){
  .dashboard_main{
    padding-left: 20rem;
    width: min(90%, 60rem);
  } 
  
}